body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid;
}

main h1{
    font: bold 24px "Comic Sans MS";
    text-align: center;
}

article{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid;
}

div h1{
    font-weight: bold;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
}

div h2{
    margin: 10px;
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 5px solid;
    text-align: center
}

nav ul{
    list-style: url('https://api.iconify.design/octicon/rocket-16.svg');
}

#indexB{
    overflow: scroll;
}

footer img{
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

strong{
    color:blue;
}
code strong{
    color:red;
}


